body {
    background-color: #36393e;
    color: white;
}

#recenter {
    margin-top: -5rem;
}

.btn-primary {
    background-color: #4b2e83;
    border-color: #4b2e83;
}

.btn-primary:hover {
    background-color: #774bd1;
    border-color: #774bd1;
}

.btn-container a {
    margin: 0 1rem;
}

.deck:hover {
    background-color: #774bd1;
    transition: 0.3s;
}

.deck-body:hover {
    color: white;
    transition: 0.3s;
}

/* (Adam Skoglund) Animations of following .vocab-card code was revised from
W3Schools.com: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.vocab-card {
    width: 10rem;
    height: 15rem;
    perspective: 1000px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .vocab-card {
        width: 8rem;
        height: 12rem;
    }
}

.vocab-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
}

.vocab-card:hover .vocab-card-inner {
    transform: rotateY(180deg);
}

.vocab-card-front, .vocab-card-back {
    position: absolute;
    width: inherit;
    height: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.vocab-card-front {
    font-size: 20px;
}

.vocab-card-back {
    transform: rotateY(180deg);
}


.instructions {
    font-size: 35px;
    text-align: center;
}

.user-info {
    margin-top: 50px;
    text-align: center;
}

.link-decor {
    text-decoration: none;
    color: #774bd1;
}

.link-decor:hover {
    color: white;
    transition: 0.3s;
}

footer button {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
}